<div id="invoice" class="document" :class="{ 'print-hide': !printInvoice }">
    <div class="heading grid">
        <h1 x-text="name || 'first last'"></h1>


            <div class="contact">
                <p id="email-value" x-text="email || 'name@email.com'"></p>
                <p id="phone-value" x-text="phone || '(xxx) xxx xxxx'"></p>
            </div>
        <div class="invoice-text">
            <h4 class="">Invoice #</h4>
            <p class="fs-1 fw-bold" id="invoice-number" x-text="invoiceNumber ? ('00000' + invoiceNumber).slice(-5) : '00000'"></p>
        </div>
    </div>
    <div class="subheading grid">
        <div class="client-details">
            <p>Client</p>
            <p class="fs-2 fw-bold" id="company-name" x-text="companyName || 'COMPANY NAME'"></p>
            <p class="fs-1 fw-bold" id="client-name" x-text="clientName || 'Client Name'"></p>
            <p class="fs-1 fw-bold" id="client-email" x-text="clientEmail || 'CLIENT@EMAIL.COM'"></p>
            <p id="client-location" x-text="clientLocation || 'Client Address'"></p>
        </div>
        <div class="date">
            <p>Date</p>
            <p class="fs-2 fw-bold" id="date" x-text="today"></p>
        </div>
    </div>
    <div id="item-list">
        <div class="item grid">
            <p class="item-desc-label">description</p>
            <p class="item-qty-label">qty/hr</p>
            <p class="item-amount-label">rate</p>
            <p class="item-total-label">total</p>
        </div>
        <template x-for="(item, index) in items" :key="index">
                <div class="item grid">
                    <p class="item-desc" x-text="item.desc"></p>
                    <p class="item-qty" x-text="item.qty"></p>
                    <p class="item-cost" x-text="item.rate"></p>
                    <p class="item-total fs-1" x-text="((parseFloat(item.qty) * parseFloat(item.rate)) || 0).toFixed(2)"></p>
                </div>
            </template>
    </div>
    <div class="total-row grid">
        <div class="payment-details">
            <p>Invoice payable through E-Transfer to</p>
            <p id="payment-details" x-text="email|| 'name@email.com'"></p>
        </div>
        <div class="total-list">
            <div class="cost">
                <p>price</p>
                <p class="fs-1" id="cost-value" x-text="itemsCost.toFixed(2)"></p>
            </div>
            <div class="tax">
                <p>tax</p>
                <p class="fs-1" id="tax-value" x-text="taxAmount.toFixed(2)"></p>
            </div>
            <div class="paid">
                <p>paid</p>
                <p class="fs-1" id="paid-value" x-text="parseFloat(amountPaid || 0).toFixed(2)"></p>
            </div>
            <div class="total">
                <p>amount due</p>
                <p class="fs-4 fw-bold" id="total-value" x-text="'$' + totalDue.toFixed(2)"></p>
            </div>
        </div>
    </div>
</div>
