---
title: "Invoice Generator"
---
{% layout 'base.liquid' %}

{% block style %}

<link rel="stylesheet" href="style.css">
{% endblock %}

{% block content %}
<!-- 850px is portrait letter print width -->
<!-- and 1090px for landscape letter -->
<div id="invoice">
    <div class="heading grid">
        <h1>
            Nikolai Suvanto
            <div class="contact">
                <p id="email-value">email(at)email.com</p>
                <p id="phone-value">(xxx) xxx xxxx</p>
            </div>
        </h1>
        <div class="invoice-text">
            <h4 class="label">Invoice #</h4>
            <p class="fs-2 fw-bop class="fs-1 fw-bold" id="invoice-number">00000p>
        </div>
    </div>
    <div class="subheading grid">
        <div class="client-details">
            <p>Client</p>
            <p class="fs-2 fw-bold" id="company-name">COMPANY NAME</p>
            <p class="fs-1 fw-bold" id="client-name">CLIENT NAME</p>
            <p class="fs-1 fw-bold" id="client-email">CLIENT@EMAIL</p>
            <p id="client-location">LOCATION</p>
        </div>
        <div class="date">
            <p>Date</p>
            <p class="fs-2 fw-bold" id="date"></p>
        </div>
    </div>
    <div id="item-list">
        <div class="item grid">
            <p class="item-desc-label">description</p>
            <p class="item-qty-label">qty/hr</p>
            <p class="item-amount-label">rate</p>
            <p class="item-total-label">total</p>
        </div>
    </div>
    <div class="total-row grid">
        <div class="payment-details">
            <p>Invoice payable through E-Transfer to</p>
            <p id="payment-details"></p>
        </div>
        <div class="total-list">
            <div class="cost">
                <p>price</p>
                <p class="fs-1" id="cost-value">0</p>
            </div>
            <div class="tax">
                <p>tax</p>
                <p class="fs-1" id="tax-value">0</p>
            </div>
            <div class="paid">
                <p>paid</p>
                <p class="fs-1" id="paid-value">0</p>
            </div>
            <div class="total">
                <p>amount due</p>
                <p class="fs-4 fw-bold" id="total-value">0</p>
            </div>
        </div>
    </div>
</div>
{% render 'invoiceSideBar.liquid' %}
<script src="main.js"></script>
<script src="sidebar.js"> </script>

{% endblock %}
