---
title: "Color Reference"
---
{% layout 'base.liquid' %}

{% block style %}
<link rel="stylesheet" href="style.css">
{% endblock %}

{% block content %}
<div class="heading">
    <h1>Color Reference</h1>
    <p>
        A collection of colors I've found around the internet that I want to
        save for later use
    </p>
</div>

<div class="colors-grid">
    {% for categoryPair in colors %}
        {% assign categoryName = categoryPair[0] %}
        {% assign colorGroup = categoryPair[1] %}

        <div class="color-category">
            <h2>{{ categoryName | capitalize }}</h2>

            <div class="color-row">
                {% for color in colorGroup %}
                    {% assign color = colorPair[1] %}

                    {% assign textColor = color | brightness %}

                    {% render 'colorCard.liquid',
                        code: color,
                        text: textColor
                    %}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>
<script src="main.js"></script>
{% endblock %}
